@mixin text-dot {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin normalize-link($s: 14px, $w: 500, $c: rgba(0, 0, 0, 0.85), $h: #1890ff) {
  font-size: $s;
  font-weight: $w;
  color: $c;
  text-decoration: none;

  &:hover {
    color: $h;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
