$gray: #6a737d;
$gray-000: #fafbfc;
$gray-100: #f6f8fa;
$gray-200: #e1e4e8;
$gray-300: #d1d5da;
$gray-400: #959da5;
$gray-500: #6a737d;
$gray-600: #586069;
$gray-700: #444d56;
$gray-800: #2f363d;
$gray-900: #24292e;

$blue: #0366d6;
$blue-000: #f1f8ff;
$blue-100: #dbedff;
$blue-200: #c8e1ff;
$blue-300: #79b8ff;
$blue-400: #2188ff;
$blue-500: #0366d6;
$blue-600: #005cc5;
$blue-700: #044289;
$blue-800: #032f62;
$blue-900: #05264c;
