$background-lightest: white;
$background-lighter: #f5f5f5;
$background-light: #f0f2f5;
$background-dark: #001529;
$background-hover: #1890ff;
$background-blue-middle: #314659;
$background-blue-dark: #002140;
$background-button-pr: #409eff;
$background-button-pr-hover: #66b1ff;
